@charset "utf-8";
body{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	background-color: black;
	color:white;
	text-align:left;
	margin:0;
}

h1 {
	color:red;
	text-decoration: underline;
	text-align: center;
	 font-style:italic; 
}

h2{
	color:green;
	text-align: center;
	background: lightgrey;
}

h3{
	text-decoration: underline;
	color:yellow;
}

header{
	background: white;
	border-bottom:4px solid red;
}

nav{
	text-align: center;
	background-color: green;
	padding:10px 0;
	
}

footer{
	font-size:12px;
	background: green;
	padding: 10px 20px;
}

nav a{
	color:yellow;
}

nav a:hover{
	color: hotpink;
}

section{
	padding: 0 20px;
}

@media print{
	body, li, h1, h2, h3, p{
		background:white;
		color:black;
	}
	nav{
		display: none;
	}
	header img{
		display: none;
	}
}